<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="strCon" connectionString="Data Source=B13-213-5412;Initial Catalog=AppAsistenciasDBV2;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>